.id_design,
 .id_oven,
  .id_semifinished,
   .id_sticking,
    .id_ready {
    display:flex;
    gap:10px;
    width:100%;
    justify-content:space-between;
}
@media (max-width:1000px) {
    .list_open {
        height: 100px;
    }
}
@media (max-width:769px) {
    .id_design,
       .id_oven,
        .id_semifinished,
         .id_sticking,
          .id_ready {
        flex-wrap:wrap;
    }
    .list_open {
        height: auto;
    }
}

@media (max-width:600px) {
    .tab_img {
        display:flex;
    }
    .tab_chapter {
        display:none;
    }
    #id_header {
        width:100%;
        display:flex;
        justify-content:space-around;
    }
}