@import url('reset.css');
@import url('library.css');
@import url('btn.css');
@import url('media.css');


.js_cl_11,
.js_cl_12,
.js_cl_13,
.js_cl_14,
.js_cl_15,
.js_cl_21,
.js_cl_23,
.js_cl_24,
.js_cl_31,
.js_cl_33,
.js_cl_34,
.js_cl_35,
.js_cl_41,
.js_cl_43,
.js_cl_44,
.js_cl_45,
.js_cl_51,
.js_cl_53,
.js_cl_54,
.js_cl_55,
.js_cl_11_1,
.js_cl_15_glass,
.js_cl_Insert,
.id_stock_buttons_1,
.id_stock_buttons_2,
 .comment {
    display:none;
}


.js_list {
    display: none;
}

.act {
    display: flex;
}


.tabs__block {
    display:none;
}
.tabs__block:target {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
}
.active-tab {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.tabs__block_stock {
    display:none;
}
.tabs__block_stock:target {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
}
.active-tab-stock {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.id_report_chapter_item_arrow {
    display:flex;
    align-items:center;
    font-size:30px;
    justify-content:center;
}


/*
* {
    border:1px solid green;
}
